.ContentOne{
    width: 100vw;
    height: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
}

.ContentTwo{
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-image: url('../imgs/Backgrounds/background_contente_01.jpg');
    background-repeat: no-repeat;
	background-size: cover;
}

.ContentThree{
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
	background-size: cover;
    justify-content: center;
    background-color: #fff;
    background-repeat: no-repeat;
}

.describe{
    font-size: 22px;
    text-justify: auto;
}

.areaContent{
    width: 100%;
    height: 100%;
    color: #fff;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background: rgba(0, 25, 238, 0.2);
    border: 1px solid rgba(0, 25, 238, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.titleContenteTwo{
    margin-top: 10%;
    font-size: 25px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subTitleContenteTwo{
    font-size: 50px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.centralize{
    margin-top: 12%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.layout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.TitleFont{
    font-size: 65px;
    margin: 0;
}

.subTitleFont{
    font-size: 25px;
    margin: 0;
}

.laranja{
    color: #ff7b00;
}

hr{
    width: 50%;
    border-color: #ff7b00;
}

.titleThree{
    margin-top: 10%;
}

.contentItens{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.itens{
    width: 12%;
    text-align: center;
}

.icons{
    width: 45%;
}

.fundo{
    width: 100%;
    height: 15%;
    border-radius: 100% 100% 0 0;
    background-color: #ff7b00;
}