<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>RegisterServlet</servlet-name>
  	<display-name>RegisterServlet</display-name>
  	<description></description>
  	<servlet-class>controller.servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>controller.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PetRegisterServlet</servlet-name>
  	<display-name>PetRegisterServlet</display-name>
  	<description></description>
  	<servlet-class>controller.servlets.PetRegisterServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdoptionApplicationServlet</servlet-name>
  	<display-name>AdoptionApplicationServlet</display-name>
  	<description></description>
  	<servlet-class>controller.servlets.AdoptionApplicationServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetOngNameServlet</servlet-name>
  	<display-name>GetOngNameServlet</display-name>
  	<description></description>
  	<servlet-class>controller.servlets.GetOngNameServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetAnimalByFilter</servlet-name>
  	<display-name>GetAnimalByFilter</display-name>
  	<description></description>
  	<servlet-class>controller.servlets.GetAnimalByFilter</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmailValidationServlet</servlet-name>
  	<display-name>EmailValidationServlet</display-name>
  	<description></description>
  	<servlet-class>controller.servlets.EmailValidationServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TestServlet</servlet-name>
  	<display-name>TestServlet</display-name>
  	<description></description>
  	<servlet-class>controller.servlets.TestServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetAnimalImages</servlet-name>
  	<display-name>GetAnimalImages</display-name>
  	<description></description>
  	<servlet-class>controller.servlets.GetAnimalImages</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TesteJWT</servlet-name>
  	<display-name>TesteJWT</display-name>
  	<description></description>
  	<servlet-class>controller.servlets.TesteJWT</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmailTestServlet</servlet-name>
  	<display-name>EmailTestServlet</display-name>
  	<description></description>
  	<servlet-class>controller.servlets.EmailTestServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PetUpdateServlet</servlet-name>
  	<display-name>PetUpdateServlet</display-name>
  	<description></description>
  	<servlet-class>controller.servlets.PetUpdateServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetAllAnimals</servlet-name>
  	<display-name>GetAllAnimals</display-name>
  	<description></description>
  	<servlet-class>controller.servlets.GetAllAnimals</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RegisterServlet</servlet-name>
  	<url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PetRegisterServlet</servlet-name>
  	<url-pattern>/PetRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdoptionApplicationServlet</servlet-name>
  	<url-pattern>/AdoptionApplicationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetOngNameServlet</servlet-name>
  	<url-pattern>/GetOngNameServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetAnimalByFilter</servlet-name>
  	<url-pattern>/GetAnimalByFilter</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmailValidationServlet</servlet-name>
  	<url-pattern>/EmailValidationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TestServlet</servlet-name>
  	<url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetAnimalImages</servlet-name>
  	<url-pattern>/GetAnimalImages</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TesteJWT</servlet-name>
  	<url-pattern>/TesteJWT</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmailTestServlet</servlet-name>
  	<url-pattern>/EmailTestServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PetUpdateServlet</servlet-name>
  	<url-pattern>/PetUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetAllAnimals</servlet-name>
  	<url-pattern>/GetAllAnimals</url-pattern>
  </servlet-mapping>
  
</web-app>
