.cadastroArea{
    width: 30%;
	height: auto;
	background: rgba(255, 255, 255, 0.25);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(120px);
	-webkit-backdrop-filter: blur(3.7px);
	border: 1px solid rgba(255, 255, 255, 0.3);
}

.cadastroArea::-webkit-scrollbar {
    width: 6px;
}
  
.cadastroArea::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.46);
    border-radius: 12px;
}

.logo{
    width: 150px;
    height: auto;
}

.title{
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.subTitle{
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.rowOne{
    display: flex;
}

.forms{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formularioAjuste{
    display: flex;
    justify-content: center;
}

.formInputsPessoais{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.formDiv{
    width: 40%;
}

.campos{
    margin-top: 10px;
}

.btnDiv{
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.link{
    text-decoration: none
}

input{
    font: inherit !important;
    letter-spacing: inherit !important;
    color: currentColor !important;
    padding: 4px 0 5px !important;
    border: 0 !important;
    box-sizing: content-box !important;
    background: none !important;
    height: 1.4375em !important;
    margin: 0 !important;
    -webkit-tap-highlight-color: transparent !important;
    display: block !important;
    min-width: 0 !important;
    -webkit-animation-name: mui-auto-fill-cancel !important;
    animation-name: mui-auto-fill-cancel !important;
    -webkit-animation-duration: 10ms !important;
    animation-duration: 10ms !important;
    padding: 16.5px 14px !important;
}

fieldset{
    text-align: left;
    position: absolute;
    bottom: 0;
    right: 0;
    top: -5px;
    left: 0;
    margin: 0;
    padding: 0 8px;
    pointer-events: none;
    border-radius: inherit;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    min-width: 0%;
    border-color: rgba(0, 0, 0, 0.23);
}

.formInputsOng{
    display: none;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.alertArea{
	position: absolute;
}

@media only screen and (max-width:1380px) {
    .cadastroArea {
        width: 31%;
        height: 90%;
        overflow: auto;
    }

    .formDiv{
        width: 56%;
    }
}

@media only screen and (max-width:1024px) {
    .cadastroArea {
        width: 70%;
        height: 90%;
        overflow: auto;
    }
}

@media only screen and (max-width:768px) {
    .cadastroArea {
        width: 95%;
        margin-top: 0.5em;
        overflow: auto;
    }
    
    .title{
        font-size: 12px;
        margin-top: 15px;
        margin-bottom: 10px;
        -webkit-text-stroke-width: 0;
        -webkit-text-stroke-color: #ffffff;
    }
    
    .formInputsPessoais{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }
    
    .formDiv{
        width: 65%;
    }
    
    .campos{
        margin-top: 10px;
    }
}