.menuArea{
    width: 90vw;
	height: 90vh;
	background: rgba(255, 255, 255, 0.25);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(120px);
	-webkit-backdrop-filter: blur(3.7px);
	border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.animationLogin{
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 35px;
    letter-spacing: 1px;
    color: #ffff;
    display: inline-block;
    animation: fadeIn 1.5s forwards;
    opacity: 0;
    transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.firstText{
    display: inline-block;
    animation: firstspan 1.5s forwards cubic-bezier(0.785, 0.135, 0.15, 0.86);
    z-index: 1;
    position: relative;
}

.slide{
    display: inline-flex;
    overflow: hidden;
}

.secondText{
    font-weight: 100;
    color: #ff8147;
    z-index: -1;
    display: inline-block;
    animation: secondspan 1.5s forwards cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

@keyframes fadeIn{
    0%{
        opacity: 0;
        transform: scale(1);
    }
    50%{
        opacity: 1;
        transform: scale(1.1);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes firstspan{
    0%{
        transform: translateX(50%);
    }
    60%{
        transform: translateX(50%);
    }
    100%{
        transform: translateX(0%);
    }
}

@keyframes secondspan{
    0%{
        transform: translateX(-100%);
    }
    60%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}