.ajustesAnimalAdd {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden !important;
}

.componentsText{
    margin-top: 5%;
}

.componentsSelect{
    margin-top: 5%;
}

.input::file-selector-button {
    border-radius: 4px;
    height: 40px;
    cursor: pointer;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.16);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    transition: background-color 200ms;
  }
  
.input::file-selector-button:hover {
    background-color: #f3f4f6;
}
  
.input::file-selector-button:active {
    background-color: #e5e7eb;
}

.progress{
    height: 100%;
    width: 100%;
    background: #cdcdcd82;
    z-index: 1;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 14px;
}